doctype html
html
  head
    title= title
    block metadata
    link(rel='icon', href="/favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
  body
    block content
