extends base

append styles
  link(type='stylesheet', href='/stylesheets/current-song.css')

block content
  iframe.music-video.current(src=videoURL, frameborder="0", allow="autoplay; encrypted-media", allowfullscreen="true", style="position:absolute;width:100%;height:100%;z-index:2;")
  iframe.music-video.next(src=videoURL, frameborder="0", allow="autoplay; encrypted-media", allowfullscreen="true", style="position:absolute;width:100%;height:100%;z-index:1;")
